<!DOCTYPE html>
<head>
    <title>All Reviews</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container py-5">
    <h2>All School Reviews</h2>
    <a href="/add_review" class="btn btn-success mb-3">Add new Review</a>
    <table class="tabl table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>School</th>
                <th>Reviewer</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
             {% for review in reviews %}
             <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.school_name }}</td>
                <td>{{ review.reviewer_name }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.comment }}</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
</body>
</html>